.navbar-brand {
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    display: block;
    font-weight: 900;
    background: url(../assets/images/deporte.jpg) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.black {
    background-color: black;
}
