<div class="miContenedor">
  <h1 class="center">GYMADE</h1>
  <h3 class="amarillo">¿Qué es?</h3>
    <p class="blan l16">
        <img src="../../../assets/images/peso-muerto.gif" hspace="20" vspace="5" style="float: right;" />
        GYMADE es una aplicación web que nace como una idea de poder compartir la rutina de ejercicio que cada uno quiera.
       Y sobretodo, para poder llevar un control de que nos toca hacer cada día desde cualquier lugar, 
        cualquier dispositivo con solo un click,
        sin la necesidad constante de anotar lo que nos toca hacer ese día.
    </p>
    <h3 class="amarillo">¿Para que sirve?</h3>
    <p class="blan l16">
        GYMADE te permite crear las rutinas que quieras, sin un número máximo de ellas,
        administrando por ti que día te toca hacer cada ejercicio que hayas asignado anteriormente,
        te permite compartir tu rutina con los demás, o coger la de otro para usarla tu mismo,
        todo bajo elección propia, también te permite llevar un control gráfico tu peso corporal, 
        indicando los macronutrientes necesarios para llegar a tu objetivo, 
        asignar rutina automatica segun preferencias, etc.
      </p>
      <h3 class="amarillo">¿Macronutrientes?</h3>
    <p class="blan l16">
        Si, macronutrientes; para explicar esto mejor dejo un video muy interesante sobre este tema.
      </p>
      
      <div class="video">
          <iframe width="600" height="330" src="https://www.youtube.com/embed/L9kJb4eFz30" frameborder="0" 
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <button class="btn btn-primary" (click)="suena()">Login</button>
</div>